/* PROPS */
:root {
  --blue: #5267DF;
  --red: #FA5959;
  --black: #242A45;
  --black-05: rgba(37, 43, 70, 0.5);
  --black-075: rgba(37, 43, 70, 0.75);
  --grey: #9194A2;
}


/* FAC-FONTS */
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"),
  url("Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.woff2") format("woff2"),
  url("Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"),
  url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.woff2") format("woff2"),
  url("Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed blue;
  outline-offset: 3px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--black);
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1144px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button {
  padding: 10px 24px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-decoration: none;
  border: 0;
  border-radius: 5px; 
  background: var(--red);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  transition: 0.5s;
}

.button-red {
  padding: 12px 34px;
  font-size: 13px;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 1.5px;
  border: 2px solid var(--red);
}
.button-red:hover {
  color: var(--red);
  border: 2px solid var(--red);
  background-color: #fff;
}

.button-medium {
  padding: 10px 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
  border: 2px;
  border-radius: 5px;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  transition: 0.5s;
}
.extensions-button {
  color: #FFF;
  padding: 10px 35px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  border-radius: 5px;
  border: 1px solid currentColor;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  transition: 0.4s;
}
.extensions-button:hover,
.button-medium:hover {
  background-color: #fff;
  color: var(--blue);
  border: 2px solid var(--blue);
}
.extensions-button:active,
.button-medium:active {
  opacity: 0.7;
  outline: 0;
}


/* ACCORDION */
.accordion {
  border-top: 1px solid rgba(38, 44, 69, 0.15);
}

.accordion__item {
  border-bottom: 1px solid rgba(38, 44, 69, 0.15);
}

.accordion__item-header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 13px;
}

.accordion__item-title {
  flex-grow: 1;
  margin: 0;
  color: var(--black);
  margin-right: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.accordion__item-header:hover .accordion__item-title {
  color: var(--red);
}

.accordion__item-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.accordion__item-toggler:focus {
  outline: none;
}
.accordion__item-toggler::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.accordion__item-toggler:focus::before {
  outline: auto;
}

.accordion__item-toggler-icon {
  color: var(--blue);
  display: block;
  width: 20px;
  height: 13px;
}

.accordion__item--open .accordion__item-toggler-icon {
  transform: rotate(180deg);
  color: var(--red);
}

.accordion__item-content {
  display: none;
  padding-top: 19px;
  padding-bottom: 29px;
  color: var(--black);
}

.accordion__item--open .accordion__item-content {
  display: block;
}

.accordion__item-text {
  color: var(--black-075);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.15px;
}


/* SITE-HEADER */
.site-header {
  margin-top: 48px;
  margin-bottom: 110px;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  width: 149px;
  height: 25px;
  object-fit: contain;
}
.site-header__logo:hover {
  opacity: 0.8;
}
.site-header__logo:active {
  opacity: 0.6;
}

.sitenav {
  display: flex;
}

.sitenav__list {
  list-style: none;
  display: flex;
}

.sitenav__item {}

.sitenav__item:not(:last-child) {
  margin-right: 44px;
}

.sitenav__link {
  text-decoration: none;
  color: var(--black);
  font-size: 13px;
  font-style: normal; 
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.5px;
}
.sitenav__link:hover {
  color: var(--red);
}

.sitenav__login-button { 
  display: block; 
  text-decoration: none;
}


/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}

/* HERO */
.hero {
  padding-top: 66px;
  padding-bottom: 263px;
  background-image: url("../img/blue-pill.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 745px) 138px;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.hero-content {
  width: 540px;
  margin-right: 68px;
  color: var(--black);
}

.hero__header {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.15px;
}

.hero-content__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.hero-actions {
  display: flex;
}

.hero-actions__button {
  text-decoration: none;
  margin-right: 16px;
}
.hero-actions__button:hover {
  color: var(--blue);
  background-color: #fff;
  border: 2px solid var(--blue);
}

.hero-actions__button-2nd {
  text-decoration: none;
  color: var(--black);
  background-color: #F7F7F7;
}
.hero-actions__button-2nd:hover {
  color: var(--black);
  background-color: #fff;
  border: 2px solid var(--black);
}

.hero__content-img {
  position: absolute;
  top: -68px;
  right: -71px;
}

/* SECTION */
.section {
}

.section__info {
  width: 100%;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--black);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.section__text {
  margin: 0;
  color: var(--black-05);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


/* FEATURES */
.features__section-info {
  width: 100%;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
}


/* FEATURE-TAB-PANEL */
.feature-tab-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.feature-tab-panel__img {
  margin-right: 30px;
  object-fit: contain;
}
.simple-bookmarking-img {
  margin-right: 125px;
}
.speedy-searching-img {
  margin-right: 115px;
}
.easy-sharing-img {
  margin-right: 148px;
}

.feature-tab-panel__info {
  max-width: 445px;
}

.feature-tab-panel__title {
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
  margin: 0 0 16px;
}

.feature-tab-panel__text {
  color: var(--black-05);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 32px;
}


/* TABS */
.tabs {}

.tabs__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs__item {
  width: 243px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__item--active .tabs__link {
  color: var(--black);
  border-color: var(--red);
  outline: 0;
}

.tabs__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--black-075);
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.5;
  padding: 22px 0;
  margin-bottom: 27px;
  border-bottom: 4px solid transparent;
}
.tabs__link:hover {
  color: var(--red);
}
.tabs__link:active {
  opacity: 0.6;
  outline: 0;
}

/* TAB-PANELS */
.tabpanels {
  padding: 75px 0 165px;
  background: url("../img/blue-pill.svg") no-repeat;
  background-position: calc(50% + -580px) 158px;
}

.tabpanels__item {
  display: none;
}
.tabpanels__item--active {
  display: block;
}


/* EXTENSION */
.extension {
  margin-bottom: 149px;
}

.extension-info {
  margin-bottom: 48px;
}
.section__title {}

.section__text {}

.extensions-list {
  width: 100%;
  max-width: 908px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.extensions-item {
  position: relative;
  width: 280px;
  height: 371px;
  padding: 49px 22px 24px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
}
.extensions-item:not(:last-child) {
  margin-right: 34px;
}

.extensions-item:nth-child(2) {
  margin-top: 40px;
}
.extensions-item:nth-child(3) {
  margin-top: 80px;
}

.extensions-item::after {
  position: absolute;
  left: 0;
  bottom: 96px;
  width: 100%;
  height: 4px;
  content: "";
  bottom: 96px;
  background-image: url("../img/extension_dotted_line.svg");
  background-position: center;
}

.extensions-item__logo {
  margin: 0 65px 32px;
}

.extensions-item__title {
  margin: 0;
  margin-bottom: 6px;
  text-align: center;
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
}

.extensions-item__text {
  margin: 0;
  margin-bottom: 56px;
  text-align: center;
  color: var(--black-05);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.extensions-item__button {
}


/* FAQ */
.faq {
  padding-bottom: 150px;
}

.faq__inner {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 540px;
  margin: 56px auto 0;
}

.faq__accordion {
  width: 100%;
  margin-bottom: 54px;
}


/* SUBSCRIPTION */
.subscription {
  padding: 58px 0 74px;
  color: #fff;
  background-color: var(--blue);
}

.subscription__inner {
  max-width: 445px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.subscription__count-text {
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 5px;
}

.subscription__heading {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.subsctiption__form {
  display: flex;
}

.subscription__field-wrapper {
  position: relative;
  width: 300px;
  height: 48px;
  margin-right: 16px;
  word-spacing: 0%;
}

.subscription__field {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 28px;
  border-radius: 5px;
  border: 2px solid transparent;
}
/* INVALID INPUT */
.subscription__field:not(:focus):not(:placeholder-shown):invalid {
  padding-right: 52px;
  border-color: var(--red);
  background-image: url("../img/error-disc.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}
.subscription__field:not(:focus):not(:placeholder-shown):invalid ~ .subscription__error {
  display: block;	
}

.subscription__error {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  text-align: left;
  top: calc(100% - 5px);
  padding: 6px 12px 6px;
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  font-weight: 500;
  border-radius: 0 0 5px 5px;
  background-color: var(--red);
  
}

.subscription___button {
  width: 128px;
  padding: 10px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.25px;
}



/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}
