/* props */
:root {
  --blue: #5267df;
  --red: #fa5959;
  --black: #242a45;
  --black-05: rgba(37, 43, 70, 0.5);
  --black-075: rgba(37, 43, 70, 0.75);
  --grey: #9194a2;
}


/* fac-fonts */
@font-face {
  font-family: "poppins";
  src: url("poppins-regular.woff2") format("woff2"),
  url("poppins-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  src: url("poppins-semibold.woff2") format("woff2"),
  url("poppins-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik-medium.woff2") format("woff2"),
  url("../fonts/rubik-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik-mediumitalic.woff2") format("woff2"),
  url("../fonts/rubik-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/rubik-regular.woff2") format("woff2"),
  url("../fonts/rubik-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  src: url("poppins-bold.woff2") format("woff2"),
  url("poppins-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* global styles */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed blue;
  outline-offset: 3px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "rubik", "arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--black);
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* sitenav-menu */
.sitenav-button {
  display: none;
  width: 18px;
  height: 15px;
  cursor: pointer;
  border: 0;
  background-size: contain;
  background: url("../img/sitenav-menu-icon.svg") transparent no-repeat center;
  margin-left: auto;
  z-index: 11;
}

/* container */
.container{
  width: 100%;
  max-width: 1144px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* button */
.button {
  padding: 10px 24px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-decoration: none;
  border: 0;
  border-radius: 5px; 
  background: var(--red);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  transition: 0.5s;
}

.button-red {
  padding: 12px 34px;
  font-size: 13px;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 1.5px;
  border: 2px solid var(--red);
}
.button-red:hover {
  color: var(--red);
  border: 2px solid var(--red);
  background-color: #fff;
}

.button-medium {
  padding: 10px 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
  border: 2px;
  border-radius: 5px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  transition: 0.5s;
}
.extensions-button {
  display: block;
  color: #fff;
  padding: 10px 35px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 0.02em;
  border-radius: 5px;
  border: 1px solid currentcolor;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  transition: 0.4s;
}
.extensions-button:hover,
.button-medium:hover {
  background-color: #fff;
  color: var(--blue);
  border: 2px solid var(--blue);
}
.extensions-button:active,
.button-medium:active {
  opacity: 0.7;
  outline: 0;
}


/* accordion */
.accordion {
  border-top: 1px solid rgba(38, 44, 69, 0.15);
}

.accordion__item {
  border-bottom: 1px solid rgba(38, 44, 69, 0.15);
}

.accordion__item-header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 13px;
}

.accordion__item-title {
  flex-grow: 1;
  margin: 0;
  color: var(--black);
  margin-right: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.accordion__item-header:hover .accordion__item-title {
  color: var(--red);
}

.accordion__item-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.accordion__item-toggler:focus {
  outline: none;
}
.accordion__item-toggler::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.accordion__item-toggler:focus::before {
  outline: auto;
}

.accordion__item-toggler-icon {
  color: var(--blue);
  display: block;
  width: 20px;
  height: 13px;
}

.accordion__item--open .accordion__item-toggler-icon {
  transform: rotate(180deg);
  color: var(--red);
}

.accordion__item-content {
  display: none;
  padding-top: 19px;
  padding-bottom: 29px;
  color: var(--black);
}

.accordion__item--open .accordion__item-content {
  display: block;
}

.accordion__item-text {
  color: var(--black-075);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.15px;
}
.accordion__item-text:not(:last-child) {
  margin-bottom: 20px;
}


/* site-header */
.site-header {
  margin-top: 48px;
  margin-bottom: 110px;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo {
  width: 149px;
  height: 25px;
  object-fit: contain;
  z-index: 11;
}
.site-header__logo:hover {
  opacity: 0.8;
}
.site-header__logo:active {
  opacity: 0.6;
}

.sitenav {
  display: flex;
}

.sitenav__list {
  list-style: none;
  display: flex;
}

.sitenav__item {}

.sitenav__item:not(:last-child) {
  margin-right: 44px;
}

.sitenav__link {
  text-decoration: none;
  color: var(--black);
  font-size: 13px;
  font-style: normal; 
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.5px;
}
.sitenav__link:hover {
  color: var(--red);
}

.sitenav__login-button { 
  display: block; 
  text-decoration: none;
}

.sitenav-socials {
  display: none;
}


/* main-content */
.main-content{
  flex-grow: 1;
}

/* hero */
.hero {
  padding-top: 66px;
  padding-bottom: 263px;
  background-image: url("../img/blue-pill.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 745px) 138px;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.hero-content {
  width: 540px;
  margin-right: 68px;
  color: var(--black);
}

.hero__header {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.15px;
}

.hero-content__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.hero-actions {
  display: flex;
}

.hero-actions__button {
  text-decoration: none;
  margin-right: 16px;
}
.hero-actions__button:hover {
  color: var(--blue);
  background-color: #fff;
  border: 2px solid var(--blue);
}

.hero-actions__button-2nd {
  text-decoration: none;
  color: var(--black);
  background-color: #f7f7f7;
}
.hero-actions__button-2nd:hover {
  color: var(--black);
  background-color: #fff;
  border: 2px solid var(--black);
}

.hero__content-img {
  position: absolute;
  top: -68px;
  right: -71px;
}

/* section */
.section {
}

.section__info {
  width: 100%;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--black);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.section__text {
  margin: 0;
  color: var(--black-05);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}


/* features */
.features__section-info {
  width: 100%;
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;
}


/* feature-tab-panel */
.feature-tab-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.feature-tab-panel__img {
  margin-right: 30px;
  object-fit: contain;
}
.simple-bookmarking-img {
  margin-right: 125px;
}
.speedy-searching-img {
  margin-right: 115px;
}
.easy-sharing-img {
  margin-right: 148px;
}

.feature-tab-panel__info {
  max-width: 445px;
}

.feature-tab-panel__title {
  color: var(--black);
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.1px;
  margin: 0 0 16px;
}

.feature-tab-panel__text {
  color: var(--black-05);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 32px;
}


/* tabs */
.tabs {}

.tabs__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs__item {
  width: 243px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.tabs__item--active .tabs__link {
  color: var(--black);
  border-color: var(--red);
  outline: 0;
}

.tabs__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--black-075);
  font-size: 16px;
  font-weight: 400;
  line-height: 106%;
  letter-spacing: 0.03em;
  padding: 22px 0;
  margin-bottom: 27px;
  border-bottom: 4px solid transparent;
}
.tabs__link:hover {
  color: var(--red);
}
.tabs__link:active {
  opacity: 0.6;
  outline: 0;
}

/* tab-panels */
.tabpanels {
  padding: 75px 0 165px;
  background: url("../img/blue-pill.svg") no-repeat;
  background-position: calc(50% + -580px) 158px;
}

.tabpanels__item {
  display: none;
}
.tabpanels__item--active {
  display: block;
}


/* extension */
.extension {
  margin-bottom: 149px;
}

.extension-info {
  margin-bottom: 48px;
}
.section__title {}

.section__text {}

.extensions-list {
  width: 100%;
  max-width: 908px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.extensions-item {
  position: relative;
  width: 280px;
  height: 371px;
  padding: 49px 22px 24px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
}
.extensions-item:not(:last-child) {
  margin-right: 34px;
}

.extensions-item:nth-child(2) {
  margin-top: 40px;
}
.extensions-item:nth-child(3) {
  margin-top: 80px;
}

.extensions-item::after {
  position: absolute;
  left: 0;
  bottom: 96px;
  width: 100%;
  height: 4px;
  content: "";
  bottom: 96px;
  background-image: url("../img/extension_dotted_line.svg");
  background-position: center;
}

.extensions-item__logo {
  margin: 0 65px 32px;
}

.extensions-item__title {
  margin: 0;
  margin-bottom: 6px;
  text-align: center;
  color: var(--black);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25px;
}

.extensions-item__text {
  margin: 0;
  margin-bottom: 56px;
  text-align: center;
  color: var(--black-05);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}



/* faq */
.faq {
  padding-bottom: 150px;
}

.faq__inner {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 540px;
  margin: 56px auto 0;
}

.faq__accordion {
  width: 100%;
  margin-bottom: 54px;
}


/* subscription */
.subscription {
  padding: 58px 0 74px;
  color: #fff;
  background-color: var(--blue);
}

.subscription__inner {
  max-width: 445px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.subscription__count-text {
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 5px;
}

.subscription__heading {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.subsctiption-form {
  display: flex;
}

.subscription__field-wrapper {
  position: relative;
  width: 300px;
  height: 48px;
  margin-right: 16px;
}

.subscription__field {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 28px;
  border-radius: 5px;
  border: 2px solid transparent;
}
/* invalid input */
.subscription__field:not(:focus):not(:placeholder-shown):invalid {
  padding-right: 52px;
  border-color: var(--red);
  background-image: url("../img/error-disc.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}
.subscription__field:not(:focus):not(:placeholder-shown):invalid ~ .subscription__error {
  display: block;	
}

.subscription__error {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  text-align: left;
  top: calc(100% - 5px);
  padding: 6px 12px 6px;
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  font-weight: 500;
  border-radius: 0 0 5px 5px;
  background-color: var(--red);
  
}

.subscription___button {
  width: 128px;
  padding: 10px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.25px;
}


/* footer */
.footer {
  height: 100%;
  padding: 32px 0;
  color: #fff;
  background-color: #242a45;;
}
.site-footer {
  display: flex;
  align-items: center;
}

.site-footer__logo {
  margin-right: 65px;
}

.site-footer__wrapper {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.footer__list {
  display: flex;
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-right: 44px;
}
.footer__item:hover .footer__item-link{
  color: var(--red);
}

.footer__item-link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.footer__socials {
  display: flex;
  list-style: none;
}

.footer__socials__item:hover {
  cursor: pointer;
}

.footer__socials__item:hover svg,
.footer__socials__item:hover svg path {
  fill: #fa5959
}

.footer__socials__item:nth-child(1) {
  margin-right: 30px;
}

.footer__socials-link {
  display: block;
  text-decoration: none;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .site-header {
    margin-bottom: 80px;
  }
  .hero-content {
    margin-right: 0;
  }
  .hero__content-img {
    position: static;
    max-width: 50vw;
    height: 30vw;
  }
  .feature-tab-panel__img {
    position: static;
    width: 40vw;
    height: auto;
    margin-right: 30px;
  } 
}

@media screen and (max-width: 768px) {
  .sitenav-button {
    display: block;
  }
  .sitenav-menu-close {
    background-image: url("../img/sitenav-menu-close.svg");
  }
  .sitenav__list {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -150%;
    flex-direction: column;
    background: var(--dark-ink);
    transition: all .5s;
    padding: 140px 24px;
    margin-top: 0;
    z-index: 10;
  }
  .sitenav__list--active {
    left: 0;
    backdrop-filter: blur(32.619380950927734px);
    background: #242a45;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sitenav__link {
    color: #fff;
  }
  .sitenav__item {
    width: 50vw;
    text-align: center;
  }
  .sitenav__item:not(:last-child) {
    margin-right: 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-style: collapse;
  }
  .sitenav__item:nth-child(4) {
    border: 0;
  }
  .sitenav__login-button {
    margin-top: 24px;
  }
  .sitenav__list--active .sitenav-socials {
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .sitenav__list--active .sitenav-socials svg {
    display: block;
    width: 24px;
    height: 24px;
    color: #fff;
  }
  .sitenav__list--active .sitenav-socials svg:hover {
    color: var(--red);
  }
  .body-hidden {
    overflow: hidden;
  }
  .sitenav-menu-close:hover {
    box-shadow: 0 0 10px var(--red);
  }
  /* hero */
  .hero {
    padding-bottom: 150px;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-content {
    text-align: center;
  }
  .hero__header {
    font-size: 33px;
  }
  .hero-content__text {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-actions {
    display: block;
  }
  /* feature */
  
  .feature-tab-panel__img {
    
  }
  .feature-tab-panel__title {
    font-size: 24px;
  }
  .feature-tab-panel__text {
    font-size: 15px;
  }
  .section__text {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 576px) {
  .hero__header {
    font-size: 30px;
  }
  .secton-title {
    font-size: 24px;
  }
  .tabs__list {
    flex-direction: column;
    align-items: center;
  }
  .tabs__link {
    margin-bottom: 0;
  }
  .feature-tab-panel__title {
    margin-bottom: 0;
  }
  .feature-tab-panel__text {
    margin-bottom: 10px;
  }
  .feature-tab-panel {
    flex-direction: column;
  }
  .feature-tab-panel__img {
    width: 90%;
    margin-bottom: 69px;
    margin-right: 0;
  }
  .feature-tab-panel__info {
    text-align: center;
  }
  .feature-tab-panel__button {
    display: none;
  }
  
}
@media screen and (max-width: 480px) {
  .sitenav__list--active .sitenav-socials {
    width: 88px;
    flex-grow: 1;
    margin-top: 220px;
  }
}